
::ng-deep{
    .leaflet-div-icon {
    border-radius: 50% !important;
    width: 15px !important;
    height: 15px !important;
    background: #b1e6ff !important;
    border: none !important;
    filter: drop-shadow(1px 1px 4px #fff);
    }
}